*, *::before, *, *::after {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

}
body{
    padding:0;
    margin:0;
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    width:100vw;
  
    background: cover;
    background-size: 100%;
    overflow: hidden;
}

.container{
    width:500px;
    height: 500px;
   
    background-color:rgba(1, 1, 1, 0.0);
    border-radius:50px;
    border-color: transparent;
}
.btnquestion{
    background-color:transparent;
    outline:none;
    color: black;
    width:800px;
    margin: auto;
  
    border-color: transparent;
    padding:10px 20px;
    border-radius:30px;
    font-size: 40px;
    animation: 2s fadeIn;
}
.btnquestion1{
    background-color:transparent;
    outline:none;
    display: inline-block;
    color:white;
    width:800px;
    margin: auto;
  
    border-color: transparent;
    padding:10px 20px;
    border-radius:30px;
    font-size: 40px;
    animation: 2s fadeIn;
}

.btn-grid{
    display:grid;
    gap:15px;
    margin: 15px 0;
    animation: 2s fadeIn;
}

.btn{
   max-width: 50%;
   background-color: #66b3ff;
   outline:none;
   display:flex;
   align-items: center;
   justify-content: center;
   width:800px;
   margin: auto;
   border-color: transparent;
   padding:10px 20px;
   border-radius:30px;
   font-size: 40px;
   animation: 2s fadeIn;
   transition: background-color 0.5s ease-in-out;
}
.btn1{
    max-width: 50%;
    background-color: transparent;
    outline:none;
    display:flex;
    align-items: center;
    justify-content: center;
    width:800px;
    margin: auto;
    border-color: transparent;
    padding:10px 20px;
    border-radius:30px;
    color: white;
    font-size: 40px;
    animation: 2s fadeIn;
    transition: background-color 0.5s ease-in-out;
 }
.btn:hover{
    background-color: white;
    transform: scale(1.05);
    color:black;

 }

 .correct{
    background:#80ffaa;
    animation: 2s fadeInFast;
}
.wrong{
    background:#ffad99;
}
.start-btn{
    font-size:2.5rem;
    margin: auto;
    background-color: #66b3ff;
    position: absolute;
    top:47%;
    color: white;
    width:400px;

}
.options{

    font-size:2.5rem;
    margin: auto;
    background-color: #66b3ff;
    color: white;
    width:400px;  
}
.controls{
    display:flex;
    align-items: center;
    justify-content: center;
}
.hide{
    display:none;
}
.show{
    width:500px;
    height: 500px;
    display:flex;
    align-items: center;
    justify-content: center;
    max-width:90%;
    background-color:rgba(1, 1, 1, 0.5);
    border-radius:50px;
    border-color: transparent;
    animation: 2s fadeIn;

}
.next-btn{
    font-size:2.5rem;
    margin: auto;
    position: fixed;
    bottom:40px; 
    right: 50px;
    left: 50px;
    text-align: center; 
    align-items: center;
    justify-content: center;
    width:400px;
    animation: 2s fadeIn;
}
.restart-btn{
    font-size:2.5rem;
    margin: auto;
    position: fixed;
    bottom:50px;
    right: 50px;
    left: 50px;
    text-align: center; 
    align-items: center;
    justify-content: center;
    width:400px;
    animation: 2s fadeIn;
}
h1{
    padding:10px 20px;
    border-radius:30px;
    font-size:2.5rem;
    margin: auto;
    width: 400px;
    text-align: center;
    background-color:#66b3ff;
    animation: 2s fadeIn;
}
h3{
    padding:10px 20px;
    border-radius:30px;
    font-size: 40px;
    font-weight:bold;
    margin: auto;
    width: 400px;
    text-align: center;
    z-index: 1;
    background-color: #66b3ff;
    animation: 2s fadeIn;
}
h2{
    animation: 0.5s fadeIn;
    padding:10px 20px;
    border-radius:30px;
    font-size: 40px;
    font-weight:bold;
    margin: auto;
    z-index: 2;
    width: 400px;
    text-align: center;
    background-color: #66b3ff;
}

h4{
    animation: 0.5s fadeIn;
    padding:10px 20px;
    border-radius:30px;
    font-size: 50px;
    font-weight:bold;
    margin: auto;
    display: block;
    z-index: 2;
    width: 150px;
    text-align: center;
    background-color: #66b3ff;
}
@keyframes fadeIn{
    from{
opacity: 0;
    }
    to{
opacity: 1;
    }
}
@keyframes fadeInFast{
    from{
opacity: 0.7;
    }
    to{
opacity: 1;
    }
}





@-webkit-keyframes fadeLeft{
	from{
opacity:0;
-webkit-transform:translate3d(-200%, 0, 0);
transform: translate3d(-200%, 0, 0);
	}
	to{
opacity:1;
-webkit-transform:none;
transform:none;
	}
}
@keyframes fadeLeft{
	from{
opacity:0;
-webkit-transform:translate3d(-200%, 0, 0);
transform: translate3d(-200%, 0, 0);
	}
	to{
opacity:1;
-webkit-transform:none;
transform:none;
	}
}
.fadeLeft{
	-webkit-animation-name:fadeLeft;
      animation-name:fadeLeft; 
      animation: 3s fadeLeft;
}
@-webkit-keyframes fadeRight{
from{
opacity:0;
-webkit-transform:translate3d(200%, 0, 0);
transform: translate3d(200%, 0, 0);
}
to{
opacity:1;
-webkit-transform:none;
transform:none;
}
}
@keyframes fadeRight{
	from{
opacity:0;
-webkit-transform:translate3d(200%, 0, 0);
transform: translate3d(200%, 0, 0);
	}
	to{
opacity:1;
-webkit-transform:none;
transform:none;
	}
}
.fadeRight{
-webkit-animation-name:fadeRight;
animation-name:fadeRight; 
animation: 3s fadeRight;   
}


input{
    background-color: #ffad99;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 50px;
    border: none;
    padding: 20px;
    width:70vw;
    border:5px solid #ffad99;
    font-size: 16px;
    font-weight: 700;
    outline: none;
}
input:hover{
    text-decoration: none;
    
    border:5px solid #f8a089;
} 
.correct{
background-color: #80ffaa;
border:5px solid #80ffaa;
}
.correct:hover{
    border:5px solid #71f29c;
}


::placeholder{
    color:black;
    font-size: 16px;
    letter-spacing: 2px;
    

}

#inputQuestion{
    background-color: #ffad99;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 50px;

    border:5px solid white;
    padding: 20px;
    width:70vw;
}
#inputQuestion:hover{
    text-decoration: none;

    border:5px solid rgb(230, 230, 230);
   
} 

.shows{
    background-color: #ffad99;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 50px;
    border: none;
    padding: 15px;
    width:20vw;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 3px;
}
.shows:hover{
    text-decoration: none;
    transform: scale(1.05);
}


.green{
    background-color: #80ffaa;
}
.red{
    background-color: #ffad99;
}

.gr{
    background-color: #80ffaa;
}

.b{
    background:linear-gradient(to top left, #66b3ff,#a3d1ff,#66b3ff);
}
.redd{
    background-color: #ffad99;
}







@-webkit-keyframes fadeInUpBig {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 2000px, 0);
      transform: translate3d(0, 2000px, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInUpBig {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 2000px, 0);
      transform: translate3d(0, 2000px, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInUpBig {
    -webkit-animation-name: fadeInUpBig;
    animation-name: fadeInUpBig;
  }



@-webkit-keyframes fadeInDownBig {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -2000px, 0);
      transform: translate3d(0, -2000px, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInDownBig {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -2000px, 0);
      transform: translate3d(0, -2000px, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInDownBig {
    -webkit-animation-name: fadeInDownBig;
    animation-name: fadeInDownBig;
  }
  

